//-------  Styles for the table container
.table-container {
    max-width: 1920px;
    overflow-x: auto;
  
    //-------  Styles for the table
    .table {
      // display: block;
      max-height: 700px;
      overflow-y: auto;
  
      //-------  Styles for the table header
      .table__head {
        background-color: #0087ff;
        border-collapse: collapse;
        position: sticky;
        top: 0;
  
        //------- Styles for table header cells
        th {
          color: white;
          font-size: 12px;
          text-align: center;
          font-family: RobotoBold, sans-serif;
          border: 0.5px solid grey;
          vertical-align: middle;
        }
        th:nth-child(1) {
          width: 35px;
        }
        th:nth-child(2) {
          width: 30px;
        }
      }
  
      //------- Styles for the table body
      .table__body {
        //------- Styles for table rows
        .table__row {
          text-align: center;
          font-size: 13px;
          font-family: RobotoRegular, sans-serif;
  
          //------- Styles for rows with class red
          .red {
            color: red;
          }
  
          //------- Styles for table data cells
          td {
            border: 0.5px solid grey;
  
            //------- Styles for icons
            i {
              font-size: 15px;
              &:hover {
                cursor: pointer;
              }
            }
  
            //------- Styles for specific icons
            .bi-box-arrow-in-right {
              &:hover {
                color: #0087ff;
              }
            }
            .bi-person-fill--blue,
            .bi-car-front-fill {
              color: #0087ff;
            }
  
            .bi-copy {
              color: #0087ff;
            }
            .bi-key-fill {
              color: #e3e325;
            }
            .bi-person-lock {
              color: #f1d535;
              &:hover {
                color: #0087ff;
              }
            }
            .bi-unlock-fill {
              color: #0087ff;
            }
            .bi-lock-fill {
              color: #f1d535;
            }
            .bi-copy,
            .bi-lock {
              &:hover {
                color: #0087ff;
              }
            }
            .bi-trash {
              color: red;
            }
          }
        }
      }
      //-------  Styles for the empty list message
      .empty-list-message {
        tr {
          td {
            border: 0.5px solid grey;
            margin: 10px auto;
            text-align: center;
            font-family: RobotoBold, sans-serif;
            font-size: 15px;
            color: #0087ff;
          }
        }
      }
    }
  }
  
  //-------  Media queries for responsive design
  @media screen and (max-width: 992px) {
  }
  
  @media screen and (max-width: 470px) {
    .form-create {
      display: flex;
      margin-top: 50px;
      justify-content: space-between;
    }
  }
  
  @media screen and (max-width: 320px) {
    //------- Adjust minimum width for table container
    .table-container {
      .table {
        min-width: 320px;
      }
    }
  }