
<div class="table-container">
  <table class="table table-hover mt-4 mb-0">
    <!-- Table header -->
    <thead class="table__head">
      <th>STT</th>
      <th>Chọn</th>
      <th>Tài khoản</th>
      <th>Họ và tên</th>
      <th>Kiểu tài khoản</th>
      <th>Ngày cập nhật</th>
      <th>Email</th>
      <th>Điện thoại</th>
      <th>Sửa</th>
      <th>Xoá</th>
    </thead>

    <!-- Table body with user data -->
    <tbody *ngIf="userList.length > 0" class="table__body">
      <tr *ngFor="let item of userList; let i = index" class="table__row">
        <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
            [value]="item.isSelected"
            [checked]="item.isSelected"
            [(ngModel)]="item.isSelected"
            name="selectedUser?.[item.type]'"
            ngDefaultControl
            (change)="setDeleteUserList()"
          />
        </td>
        <td [ngClass]="{ red: item.isDeleted }">{{ item.userName }}</td>
        <td class="text-start">{{ item.fullName }}</td>
        <td>Admin</td>
        <td>{{ convertDateFormat(item.lastModifyDate) }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.phoneNumber }}</td>
        <td>
          <i
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            class="bi bi-wrench"
            (click)="getSelectedUser(item)"
          ></i>
        </td>
        <td
          data-bs-toggle="modal"
          data-bs-target="#confirmDelete"
          (click)="getDeleteUser(item)"
        >
          <i class="bi bi-trash"></i>
        </td>
      </tr>
      <!-- Table displaying none user -->
    </tbody>
    <tbody *ngIf="userList.length === 0" class="empty-list-message mt-4 p-5">
      <tr>
        <td colspan="10">Không tồn tại người dùng nào.</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Pagination component for navigating through user data -->
<app-pagination
  (currentPage)="handleCurrentPage($event)"
  (itemsPerPageNumber)="handleItemPerPage($event)"
  [inputPaginationData]="inputPaginationData"
></app-pagination>



