<!-- ---------------------Create Footer--------------------- -->

<footer class="pt-4">
  <div (wheel)="onMouseWheel($event)"  class="footer-location row d-flex">
    <!-- ---------------------Creater Location Footer-------------------- -->
    <div
      *ngFor="let item of  footerItems.get('footerCol'); let i = index"
      class="footer-item mb-3"
    >
      <p class="footer-item__label--area">{{ item.area | translate}}</p>
      <p class="footer-item__label--location">{{ item.location |translate}}</p>
    </div>
  </div>
  <div class="footer-download mb-3 ">
    <!-- ---------------------Display App Image--------------- -->
    <a
      *ngFor="let item of footerItems.get('footerApp'); let i = index"
      [ngClass]="i === footerItems.get('footerApp').length - 1 ? 'mb-3' : ''"
      class="footer-app__link"
      target="_blank"
      [href]="item.link"
      ><img
        class="footer-app__image"
        [src]="item.imageURL"
        [alt]="item.imageName"
    /></a>

    <!-- ---------------------Display Social Image------------------ -->
    <div class="footer-social d-flex">
      <a
        *ngFor="let item of footerItems.get('footerSocial')"
        class="footer-social__link"
        target="_blank"
        [href]="item.link"
        ><img
          class="footer-social__image"
          [src]="item.imageURL"
          [alt]="item.imageName"
      /></a>
    </div>
  </div>
</footer>