<div class="table-container">
  <table class="table table-hover mb-0">
    <!-- Table header -->
    <thead class="table__head">
      <tr>
        <th>{{ "INDEX" | translate }}</th>
        <th *ngFor="let headingItem of listContent">
          {{ headingItem.heading | translate }}
        </th>
        <th>{{ "EDIT" | translate }}</th>
        <th>{{ "DELETE" | translate }}</th>
      </tr>
    </thead>

    <!-- Table body with user data -->
    <tbody *ngIf="listItem.length > 0" class="table__body">
      <tr *ngFor="let item of listItem; let i = index" class="table__row">
        <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
        <td class="table__data" *ngFor="let headingItem of listContent">
          {{
            headingItem.type === "date"
              ? convertDateFormat(item[headingItem.value])
              : item[headingItem.value]
          }}
        </td>
        <td>
          <i
            data-bs-toggle="modal"
            data-bs-target="#genericModal"
            class="bi bi-wrench"
            (click)="getSelectedItem(item)"
          ></i>
        </td>
        <td>
          <i
            data-bs-toggle="modal"
            data-bs-target="#genericModal"
            class="bi bi-trash"
            (click)="checkDelete(item)"
          ></i>
        </td>
      </tr>
    </tbody>

    <!-- Table displaying none user -->
    <tbody *ngIf="listItem.length === 0" class="empty-list-message mt-4 p-5">
      <tr>
        <td class="error-message" colspan="10">
          {{ "NO_ITEM_REMAIN" | translate }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
