<div class="table-container">
  <table class="table table-hover mt-4 mb-0">
    <!-- Table header -->
    <thead *ngFor="let headingItem of headingList" class="table__head">
      <th>{{headingItem}}</th>
   
    </thead>

    <!-- Table body with user data -->
    <tbody *ngIf="list.length > 0" class="table__body">
      <tr  *ngFor="let item of list; let i = index" class="table__row">
        <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
        <td>{{item}}</td>
        <td [ngClass]="{ red: item.isDeleted }">{{ item.userName }}</td>
        <td class="text-start">{{ item.fullName }}</td>
        <td>Admin</td>
      
        <td>{{ item.email }}</td>
        <td>{{ item.phoneNumber }}</td>
        <td>
          <i
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            class="bi bi-wrench"
          
          ></i>
        </td>
        <td
          data-bs-toggle="modal"
          data-bs-target="#confirmDelete"
        
        >
          <i class="bi bi-trash"></i>
        </td>
      </tr>
      <!-- Table displaying none user -->
    </tbody>
    <tbody *ngIf="list.length === 0" class="empty-list-message mt-4 p-5">
      <tr>
        <td colspan="10">Không tồn tại người dùng nào.</td>
      </tr>
    </tbody>
  </table>
</div>