// Toast success
#toast-success {
  position: absolute; /*or fixed*/
  top: 90px;
  right: 0px;
  height: 20px;
  z-index: 1000;
  width: 250px;
  border: 15%;

  .d-flex {
    box-shadow: -10px 0px 10px 1px #aaaaaa;
    align-items: center;
    background-color: green;
    i {
      font-size: 20px;
    }
    .toast-body {
      background-color: green;
    }
  }
  &::after{
    content: '';
 
    bottom: 0;
    width: 100%;
    height: 5px;
    background: white anim 5s linear forwards;
  }
}

// Toast failed
#toast-failed ,#toast-search-failed{
  position: absolute; /*or fixed*/
  top: 90px;
  right: 0px;
  height: 20px;
  z-index: 1000;
  width: 250px;
  border: 15%;

  .d-flex {
    box-shadow: -10px 0px 10px 1px #aaaaaa;
    align-items: center;
    background-color: red;
    i {
      font-size: 20px;
    }
    .toast-body {
      background-color: red;
    }
  }
}

@keyframes anim{
  100%{
    width: 0;
  }
}