#toast-loginSuccess, #toast-createSuccess, #toast-updateSuccess{
    position: absolute; /*or fixed*/
    top: 80px;
    right: 0px;
    height: 20px;
    z-index: 1000;
    .d-flex {
      background-color: green;
      .toast-body {
      
        background-color: green;
      }
    }
  }