.modal-content {
  width: 400px;
  .modal-title {
    text-align: center;
  }
  .input-container {
    display: flex;
    justify-content: space-between;
    .input-label {
      width: 150px;
    }
    .input-form {
      width: 100%;
    }
  }

  .btn {
    font-size: 12px;
    height: 30px;
  }
}
