<div
  class="modal fade"
  id="genericModal"
  tabindex="-1"
  aria-labelledby="genericModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="genericModalLabel">
          {{ modalTitle }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" method="post">
        <div class="modal-body d-flex flex-column">
          <span *ngFor="let item of labelItems" class="input-container mb-4">
            <label class="input-label">{{ item.heading | translate}}:</label>
            <div class="input-form d-flex flex-column ps-2">
              <input [type]="item.type" [formControlName]="item.value" />
              <span
                class="text-danger"
                *ngIf="
                  form.get(item.value)?.invalid && form.get(item.value)?.touched
                "
                >{{ item.errorMessage }}</span
              >
            </div>
          </span>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!form.valid"
          >
            {{'SAVE'|translate}}
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            {{'CANCEL'|translate}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
