.home__heading {
  color: rgb(0, 85, 255);
  font-family: RobotoBold, sans-serif;
}

.home-filter {
  justify-content: space-between;

  .button__create {
    width: 90px;
  }
  .home-filter__input {
    display: flex;

    height: 30px;
    align-items: center;
    .form-control {
      font-size: 12px;
      border-radius: 0;
      border-right: white;
      z-index: 1;
      width: 50%;
      height: 30px;
    }

    .input-group-text {
      font-size: 12px;
      border-radius: 0;
      background-color: white;
      border-left: 0;
      height: 30px;
    }
  }

  .home-filter__date {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: 35%;

    .home-filter__title {
      text-align: center;
      margin-bottom: 0;
      font-size: 12px;
    }

    .dropdown-menu__date {
      align-items: center;
      justify-content: space-between;
      width: 300px;
      input {
        height: 30px;
      }
    }
  }

  .home-filter__gender {
    width: 150px;
    height: 30px;
    align-items: center;
    justify-content: space-around;
    .dropdown-center {
      .dropdown-menu {
        min-width: 50px;
      }
    }
  }

  .home-filter__button {
    display: flex;
    justify-content: space-between;
    width: 200px;
    .btn-primary {
      width: 85px;
      height: 30px;
      font-size: 12px;
      font-family: RobotoRegular, sans-serif;
    }
  }
}

.form-check {
  margin-top: 20px;

  .form-check-label {
    font-size: 13px;
    font-family: RobotoRegular, sans-serif;
  }

  button {
    background-color: #0d6efd;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 13px;
  }
}

.dropdown-center {
  text-align: center;
  font-family: RobotoBold, sans-serif;

  .dropdown-toggle {
    background-color: white;
    color: black;
    font-size: 12px;
    border-radius: 0;
    height: 30px;
  }

  .dropdown-menu {
    font-size: 12px;
    font-family: RobotoRegular, sans-serif;
  }
}
@media screen and (max-width: 1400px) {
  .home-filter {
    .home-filter__input {
      width: 300px;
    }
    .home-filter__date {
      width: 450px;
    }
    .home-filter__btn-search {
      margin-right: 5px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .home-filter {
    flex-wrap: wrap;
    .home-filter__input {
      width: 300px;
    }
    .home-filter__gender {
      width: 120px;
    }
    .home-filter__date {
      justify-content: end;
      width: 400px;
      .home-filter__title {
        margin: 10px;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .home-filter {
    flex-wrap: wrap;
    .home-filter__input {
      width: 30%;
    }
    .home-filter__gender {
      width: 13%;
      justify-content: space-between;
    }
    .home-filter__date {
      justify-content: end;
      width: 375px;
      .home-filter__title {
        margin: 10px;
      }
    }
    .home-filter__button {
      width: calc(100% - 200px);
      justify-content: start;
    }
  }
}

@media screen and (max-width: 768px) {
  .home-filter {
    .home-filter__input {
      width: 70%;
    }
    .home-filter__gender {
      width: 30%;
      justify-content: start;
      .home-filter__title {
        margin-right: 10px;
      }
    }
    .home-filter__date {
      justify-content: start;
      width: 420px;
      .home-filter__title {
        margin: 10px;
      }
    }
    .home-filter__button {
      width: 200px;
      justify-content: start;
    }
  }
}

@media screen and (max-width: 477px) {
  .home-filter {
    height: fit-content;

    .home-filter__right {
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;

      .home-filter__title {
        text-align: center;
        margin-right: 0;
      }

      .home-filter__btn-search {
        margin-left: 0px;
      }
    }
  }

  .form-check {
    margin-top: 50px;
  }
}
