<div class="home-filter d-flex">
  <div class="home-filter__left mb-3">
    <!-- Input search -->
    <input
      type="text"
      class="form-control"
      placeholder="{{ 'INPUT_SEARCH_VALUE' | translate }}"
      aria-label="Username"
      name="inputSearchValue"
      [(ngModel)]="inputSearchValue"
    />
    <span class="input-group-text"><i class="bi bi-search"></i></span>

    <!-- Dropdown for options -->
    <div class="dropdown-center">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        [(ngModel)]="optionValue"
        name="optionValue"
        ngDefaultControl
      >
        {{ optionLabel | translate }}
      </button>
      <ul class="dropdown-menu">
        <li
          *ngFor="let item of selectOption"
          (click)="handleSelectOption(item)"
        >
          <a class="dropdown-item">{{ item.content | translate }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="home-filter__right">
    <!-- Date selection -->
    <p class="home-filter__title">{{ "MODIFED_DATE" | translate }}</p>

    <div class="d-flex dropdown-menu__date">
      <span>{{ "FROM" | translate }}</span>
      <input type="date" [(ngModel)]="startDate" />
      <span>- {{ "TO" | translate }}</span>
      <input type="date" [(ngModel)]="endDate" />
    </div>

    <!-- Gender selection -->
    <span class="d-flex align-items-center btn-radio__gender">
      {{ "GENDER" | translate }}:
      <label>
        {{ "MALE" | translate }}
      </label>
      <input
        [(ngModel)]="selectedGender"
        type="radio"
        name="gender"
        value="1"
      />
      <label>
        {{ "FEMALE" | translate }}
      </label>
      <input
        [(ngModel)]="selectedGender"
        type="radio"
        name="gender"
        value="0"
      />
      <label>
        {{ "ALL" | translate }}
      </label>
      <input
        [(ngModel)]="selectedGender"
        type="radio"
        name="gender"
        value=""
        checked
      />
    </span>

    <!-- Search button -->
    <button
      (click)="onSearch()"
      type="button"
      class="home-filter__btn-search btn btn-primary btn-sm"
    >
      <i class="bi bi-search"></i>{{ "SEARCH" | translate }}
    </button>
  </div>

  <!-- Create button -->
  <button
    class="btn btn-primary button__create"
    data-bs-toggle="modal"
    data-bs-target="#genericModal"
    (click)="onCreate()"
  >
    {{ "CREATE" | translate }}
  </button>
</div>
