<div class="home-filter d-flex">
  <div class="home-filter__input mb-3">
    <!-- Input search -->
    <input
      type="text"
      class="form-control"
      placeholder="{{ 'INPUT_SEARCH_VALUE' | translate }}"
      aria-label="Username"
      name="inputSearchValue"
      [(ngModel)]="inputSearchValue"
    />
    <span class="input-group-text"><i class="bi bi-search"></i></span>

    <!-- Dropdown for options -->
    <div class="dropdown-center">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        [(ngModel)]="optionValue"
        name="optionValue"
        ngDefaultControl
      >
        {{ optionLabel | translate }}
      </button>
      <ul class="dropdown-menu">
        <li
          *ngFor="let item of selectOption"
          (click)="handleSelectOption(item)"
        >
          <a class="dropdown-item">{{ item.content | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
<!-- Gender filter  -->
  <div class="home-filter__gender d-flex mb-3">
    <p class="home-filter__title">{{ "GENDER" | translate }}</p>
    <div class="dropdown-center">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        [(ngModel)]="genderValue"
        name="genderValue"
        ngDefaultControl
      >
        {{ genderLabel | translate }}
      </button>
      <ul class="dropdown-menu">
        <li
          *ngFor="let item of selectGender"
          (click)="handleSelectGender(item)"
        >
          <a class="dropdown-item">{{ item.content | translate }}</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Date filter  -->
  <div class="home-filter__date mb-3">
    <!-- Date selection -->
    <p class="home-filter__title">{{ "MODIFED_DATE" | translate }}</p>

    <div class="d-flex dropdown-menu__date">
      <span>{{ "FROM" | translate }}</span>
      <input type="date" [(ngModel)]="startDate" />
      <span>- {{ "TO" | translate }}</span>
      <input type="date" [(ngModel)]="endDate" />
    </div>
  </div>
  
  <div class="home-filter__button mb-3">
    <!-- Search button -->
    <button
      (click)="onSearch()"
      type="button"
      class="home-filter__btn-search btn btn-primary btn-sm"
    >
      <i class="bi bi-search"></i>{{ "SEARCH" | translate }}
    </button>

    <!-- Create button -->
 
  </div>
</div>
