//Input form
.input-container {
  display: flex;
  justify-content: space-between;
  .input-label {
    width: 150px;
    padding: 5px;
  }
  .input-form {
    width: 80%;
    justify-content: center;
    .form-control {
      height: 30px;
      font-size: 12px;
    }
    .input-group {
      .form-control {
      }
      i {
        height: 30px;
        border: 1px solid rgb(222, 226, 230);
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        width: 30px;
        padding-top: 2px;
        padding-right: 2px;
        font-size: 15px;
        padding-left: 6px;
      }
    }
  }
}

.delete-input-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  height: 30px;
  .input-group {
    .input-group-text {
      width: 130px;
      font-size: 12px;
    }
  }
}

.btn {
  font-size: 12px;
  height: 30px;
}
