<!-- Form  -->
<form [formGroup]="form" (ngSubmit)="onSubmit()" method="post">
  <div class="modal-body d-flex flex-column">
    <span *ngFor="let item of labelItems" class="input-container mb-4">
      <label class="input-label">{{ item.heading | translate }}:</label>
      <!-- Form input  -->
      <div class="input-form d-flex flex-column ps-2">
        <ng-container *ngIf="item.value !== 'userName'; else userInput">
          <input
            *ngIf="
              item.type !== 'gender' &&
              item.value !== 'passWord' &&
              item.value !== 'confirmPassWord'
            "
            [type]="item.type"
            [formControlName]="item.value"
            class="form-control"
            [class.is-valid]="form.get(item.value)?.valid"
            [class.is-invalid]="
              !form.get(item.value)?.valid && form.get(item.value)?.dirty
            "
            id="{{ item.value }}"
          />
          <div
            *ngIf="item.type !== 'gender' && item.value == 'passWord'"
            class="input-group"
          >
            <input
              [type]="isShowPassword ? item.type : 'password'"
              [formControlName]="item.value"
              class="form-control"
              [class.is-valid]="form.get(item.value)?.valid"
              [class.is-invalid]="
                !form.get(item.value)?.valid && form.get(item.value)?.dirty
              "
              id="{{ item.value }}"
             
            />
            <i
              (click)="tooglePasswordVisible()"
              [class]="
                isShowPassword ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'
              "
              id="togglePasword"
            ></i>
          </div>
          <div
            *ngIf="item.type !== 'gender' && item.value == 'confirmPassWord'"
            class="input-group"
          >
            <input
              [type]="isShowConfirmPassword ? item.type : 'password'"
              [formControlName]="item.value"
              class="form-control"
              [class.is-valid]="form.get(item.value)?.valid"
              [class.is-invalid]="
                !form.get(item.value)?.valid && form.get(item.value)?.dirty
              "
              id="{{ item.value }}"
              
            />
            <i
              (click)="toggleConfirmPassword()"
              [class]="
                isShowConfirmPassword
                  ? 'bi bi-eye-fill'
                  : 'bi bi-eye-slash-fill'
              "
              id="togglePasword"
            ></i>
          </div>
        </ng-container>
        <ng-template #userInput>
          <input
            [type]="item.type"
            [formControlName]="item.value"
            [attr.disabled]="selectedItem"
            class="form-control"
            [class.is-valid]="form.get(item.value)?.valid"
            [class.is-invalid]="
              (!form.get(item.value)?.valid && form.get(item.value)?.dirty) ||
              check === true
            "
            (keyup)="checkUserNameExist(form.get(item.value))"
            id="{{ item.value }}"
          />
        </ng-template>

        <!-- Form gender radio button   -->
        <ng-container *ngIf="item.type == 'gender'">
          <div class="d-flex">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                [formControlName]="item.value"
                [id]="'maleRadio'"
                [value]="1"
                [checked]="item.value == 1"
              />
              <label class="form-check-label" for="maleRadio">{{
                "MALE" | translate
              }}</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                [formControlName]="item.value"
                [id]="'femaleRadio'"
                [value]="0"
                [checked]="item.value == 0"
              />
              <label class="form-check-label" for="femaleRadio">{{
                "FEMALE" | translate
              }}</label>
            </div>
          </div>
        </ng-container>

        <!-- Error message  -->
        <span
          class="text-danger invalid-feedback"
          id="item.value"
          *ngIf="form.get(item.value)?.invalid && form.get(item.value)?.touched"
          >{{ item.errorMessage }}
        </span>
        <span
          class="text-danger invalid-feedback"
          id="item.value"
          *ngIf="
            item.value == 'userName' &&
            form.get(item.value)?.touched &&
            check == true
          "
          >Tên tài khoản trùng lặp
        </span>
      </div>
    </span>
  </div>

  <!-- Modal footer  -->
  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-primary"
      [attr.data-bs-dismiss]="form.valid ? 'modal' : null"
      [disabled]="!form.valid || check == true"
      appToast
    >
      {{ "SAVE" | translate }}
    </button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      {{ "CANCEL" | translate }}
    </button>
  </div>
</form>
