<form [formGroup]="form" (ngSubmit)="onSubmit()" method="post">
  <ng-container *ngIf="deleteStatus == false; else deleteForm">
    <div class="modal-body d-flex flex-column">
      <span *ngFor="let item of labelItems" class="input-container mb-4">
        <label
          [for]="item.type == 'gender' ? 'maleRadio' : item.value"
          class="input-label"
        >
          {{ item.heading | translate }} 
          <strong class="input-label__required" *ngIf="item.required">*</strong>:
        </label>

        <!-- Form input  -->
        <div class="input-form d-flex flex-column ps-2">
          <!-- <ng-container *ngIf="item.value !== 'userName'; else userInput"> -->
          <ng-container *ngIf="item.type === 'date'">
              <input
                type="text"
                class="form-control"
                bsDatepicker
                style="font-size: 13px"
                [formControlName]="(item.value)"
                
                [class.is-invalid]="
                  !form.get(item.value)?.valid && form.get(item.value)?.dirty
                "
                id="{{ item.value }}"
                placeholder="DD/MM/YYYY"
           
              />
          </ng-container>
          <ng-container *ngIf="item.type !== 'date'">
            <input
              *ngIf="
                item.type !== 'gender' &&
                item.value !== 'confirmPassWord' &&
                item.value !== 'passWord' &&
                item.value !== 'permissionId'
              "
              [type]="item.type"
              [formControlName]="item.value"
              class="form-control"
              [class.is-invalid]="
                (!form.get(item.value)?.valid && form.get(item.value)?.dirty) ||
                form.hasError('exist')
              "
              id="{{ item.value }}"
              autocomplete="item.value"
              [attr.disabled]="item.value == true"
            />
          </ng-container>
          <!-- Form gender radio button   -->
          <ng-container *ngIf="item.type == 'gender'">
            <div class="d-flex">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  [formControlName]="item.value"
                  [id]="'maleRadio'"
                  [value]="1"
                  [checked]="item.value == 1"
                />
                <label class="form-check-label" for="maleRadio">{{
                  "MALE" | translate
                }}</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  [formControlName]="item.value"
                  [id]="'femaleRadio'"
                  [value]="0"
                  [checked]="item.value == 0"
                />
                <label class="form-check-label" for="femaleRadio">{{
                  "FEMALE" | translate
                }}</label>
              </div>
            </div>
          </ng-container>
          <!-- Permission  -->
          <ng-container *ngIf="item.type == 'permission'">
            <div class="d-flex">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  [formControlName]="item.value"
                  [id]="'permission-admin'"
                  [value]="0"
                  [checked]="item.value == 0"
                />
                <label class="form-check-label" for="permission-admin">{{
                  "ADMIN" | translate
                }}</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  [formControlName]="item.value"
                  [id]="'permission-user'"
                  [value]="1"
                  [checked]="item.value == 1"
                />
                <label class="form-check-label" for="permission-user">{{
                  "USER" | translate
                }}</label>
              </div>
              
            </div>
          </ng-container>
          <div
            [class.is-invalid]="
              !form.get(item.value)?.valid && form.get(item.value)?.dirty
            "
            *ngIf="item.value == 'passWord'"
            class="input-group"
          >
            <input
              [class.is-invalid]="
                !form.get(item.value)?.valid && form.get(item.value)?.dirty
              "
              [type]="isShowPassword ? 'text' : item.type"
              formControlName="passWord"
              class="form-control"
              id="{{ item.value }}"
            />
            <i
              (click)="togglePasswordVisible()"
              [class]="
                isShowPassword ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'
              "
              id="togglePasword"
            ></i>
          </div>
          <div
            [class.is-invalid]="
              (!form.get(item.value)?.valid && form.get(item.value)?.dirty) ||
              form.hasError('mismatch')
            "
            *ngIf="item.value == 'confirmPassWord'"
            class="input-group"
          >
            <input
              [class.is-invalid]="
                (!form.get(item.value)?.valid && form.get(item.value)?.dirty) ||
                form.hasError('mismatch')
              "
              [type]="isShowConfirmPassword ? 'text' : item.type"
              formControlName="confirmPassWord"
              class="form-control"
              id="{{ item.value }}"
            />
            <i
              (click)="toggleConfirmPassword()"
              [class]="
                isShowConfirmPassword
                  ? 'bi bi-eye-fill'
                  : 'bi bi-eye-slash-fill'
              "
              id="togglePasword"
            ></i>
          </div>
          <!-- Error message  -->
          <span
            class="text-danger invalid-feedback"
            id="{{ item.value }}"
            *ngIf="
              form.get(item.value)?.invalid && form.get(item.value)?.touched;
              else specificError
            "
          >
            {{ item.errorMessage|translate }}
          </span>

          <ng-template #specificError>
            <span
              class="text-danger invalid-feedback"
              id="specificError"
              *ngIf="
                item.value === 'confirmPassWord' &&
                (form.get(item.value)?.touched || form.hasError('mismatch'))
              "
            >
              Xác thực mật khẩu không đúng
            </span>
          </ng-template>
        </div>
      </span>
    </div></ng-container
  >
  <ng-template #deleteForm>
    <span *ngFor="let item of labelItems" class="delete-input-container mb-4">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm ">{{
          item.heading | translate
        }}</span>
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm"
          [placeholder]="form.value[item.value]"
        />
      </div>
    </span>
  </ng-template>

  <!-- Modal footer  -->
  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-primary"
      [attr.data-bs-dismiss]="form.valid ? 'modal' : null"
      [disabled]="!form.valid"
      appToast
    >
      {{ deleteStatus ? ("DELETE" | translate) : ("SAVE" | translate) }}
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      data-bs-dismiss="modal"
      (click)="closeForm()"
      
    >
      {{ "CANCEL" | translate }}
    </button>
  </div>
</form>
