//Input form
.input-container {
  display: flex;
  justify-content: space-between;
  .input-label {
    width: 150px;
    padding: 5px;
  }
  .input-form {
    width: 80%;
    .form-control {
      height: 30px;
      font-size: 12px;
    }
    .input-group {
      .form-control {
        border-right: none;
      }
      i {
        height: 30px;
        border: 1px solid rgb(222, 226, 230);
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        width: 20px;
        padding-top: 2px;
        padding-right: 2px;
        font-size: 15px;
      }
    }
  }
}

.btn {
  font-size: 12px;
  height: 30px;
}
