<div
  data-bs-ride="carousel"
  id="carouselExampleIndicators"
  class="carousel slide position-relative"
>
  <!-- Create carousel indicator (dot) -->
  <div class="carousel-indicators">
    <div
      *ngFor="let number of carouselItems; let i = index"
      class="carousel-indicators__circle--outter"
    >
      <li
        [ngClass]="{ active: i === 0 }"
        [attr.data-bs-target]="'#carouselExampleIndicators'"
        [attr.data-bs-slide-to]="i"
        class="carousel-indicators__circle--inner rounded-circle"
        [attr.aria-current]="i === 0"
      ></li>
    </div>
  </div>

  <!-- Create carousel image -->
  <div class="carousel-inner">
    <div
      *ngFor="let item of carouselItems; let i = index"
      [ngClass]="{ 'carousel-item': true, active: i === 0 }"
    >
      <img
        [src]="item.image"
        class="carousel-item__image d-block w-100"
        alt="..."
      />

      <!-- Create Carousel Caption -->
      <div class="carousel-caption">
        <div class="carousel-container d-flex flex-column align-items-start">
          <h5 class="carousel-caption__title">{{ item.title | translate }}</h5>
          <p class="carousel-caption__detail--full">
            {{ item.detail | translate }}
          </p>
          <p class="carousel-caption__detail--short">
            {{ ellipsify(item.detail | translate) }}
          </p>
        </div>

        <button
          class="carousel-caption__button--detail btn btn-primary rounded-pill"
          type="submit"
        >
          <a class="carousel-caption__link" href="#"
            >{{ "DETAILBTN" | translate }}
            <i class="carousel-caption__icon bi bi-arrow-right-short"></i
          ></a>
        </button>
      </div>
    </div>
  </div>

  <!-- Create login modal -->
  <div id="login-modal" class="bg-white border rounded position-absolute">
    <a class="login-modal__link d-flex justify-content-center" href="">
      <img class="login-modal__image" src="../../../assets/logo.png" alt="" />
    </a>

    <!-- Create username input -->
    <div class="input-group mb-3 my-0 mx-auto">
      <div class="input-group-prepend">
        <span
          class="input-group-prepend__icon-container--left input-group-text bg-white rounded-start-5"
          id="basic-addon1"
        >
          <i class="bi bi-person-fill"></i>
        </span>
      </div>
      <input
        [(ngModel)]="username"
        type="text"
        class="form-control rounded-end-5 border-start-0"
        aria-label="Username"
        [placeholder]="'USERNAME' | translate"
      />
    </div>

    <!-- Create password input -->
    <div class="input-group mb-3 my-0 mx-auto">
      <div class="input-group-prepend">
        <span
          class="input-group-prepend__icon-container--left input-group-text bg-white rounded-start-5"
          id="basic-addon1"
        >
          <i class="bi bi-lock-fill"></i>
        </span>
      </div>
      <input
        [(ngModel)]="password"
        [type]="isShowPassword ? 'text' : 'password'"
        class="form-control border-start-0 border-end-0"
        [placeholder]="'PASSWORD' | translate"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />

      <!-- Create icon to show password -->
      <span
        (click)="tooglePasswordVisible()"
        class="input-group-prepend__icon-container--right input-group-text rounded-end-5"
      >
        <i
          [class]="isShowPassword ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'"
          id="togglePasword"
        ></i>
      </span>
    </div>

    <!-- Create forget password -->
    <div
      class="forget-pass-container d-flex justify-content-between align-items-center"
    >
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">{{
          "REMEMBERME" | translate
        }}</label>
      </div>
      <a href="#" class="forget-pass__label"
        >{{ "FORGETPASS" | translate }} ?</a
      >
    </div>

    <div class="d-flex justify-content-center">
      <button
        class="login__button--submit btn btn-primary rounded-pill"
        type="submit"
        (click)="login()"
        appToast
      >
        {{ "LOGIN" | translate }}
      </button>
    </div>

    <!-- Display QR code -->
    <div class="qr-container d-flex flex-column align-items-center">
      <img
        class="qr__image"
        src="../../../assets/qrcode-login.png"
        alt="qrcode-login"
      />
      <p>{{ "QR" | translate }}</p>
    </div>
  </div>
</div>

<app-toast [toastType]="'toast-success'" [content]="'Đăng nhập thành công'"> </app-toast>
<app-toast [toastType]="'toast-failed'" [content]="'Đăng nhập thất bại'"> </app-toast>

