@font-face {
  font-family: robotoRegular;
  src: url("../fonts/roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: robotoBold;
  src: url("../fonts/roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: robotoMedium;
  src: url("../fonts/roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: robotoLight;
  src: url("../fonts/roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: robotoThin;
  src: url("../fonts/roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: robotoItalic;
  src: url("../fonts/roboto/Roboto-Italic.ttf");
}

