.filter-container{
    app-generic-filter{
        width: 100%;
    }
    .btn-primary{
        max-width: 85px;
        
        height: 30px;
        font-size: 12px;
        font-family: RobotoRegular, sans-serif;

    }
  
}

@media screen and (max-width: 1400px){

}

@media screen and (max-width: 1200px){
 
}