<!-- Navbar -->
<app-generic-navbar [menuItems]="homeMenuItems"></app-generic-navbar>

<!-- Heading page -->
<p class="page-heading mb-4">{{ "USER_LIST_MANAGEMENT" | translate }}</p>

<!-- Filter  -->
<div class="container d-flex filter-container">
  <app-generic-filter
    [selectOption]="selectOption"
    [selectGender]="selectGender"
    (handleSearch)="searchUser($event)"
  ></app-generic-filter>
  <!-- create button -->
  <button
    class="btn btn-primary button__create mb-4"
    data-bs-toggle="modal"
    data-bs-target="#genericModal"
    (click)="setCreate()"
  >
    {{ "CREATE" | translate }}
  </button>
</div>

<!-- Table  -->
<app-generic-table
  [tableContent]="tableItemMap"
  (setEdit)="setEdit($event)"
  (setDelete)="setDelete($event)"
></app-generic-table>

<!-- Pagination  -->
<app-generic-pagination
  (getPageIndex)="getPageIndex($event)"
  (getPageSize)="getPageSize($event)"
  [totalPage]="userListInfor.totalPage"
  [currentPageIndex]="currentIndex"
></app-generic-pagination>

<!-- Modal popup -->
<app-generic-modal
  [modalTitle]="selectedUser ? (isDelete ? 'Xoá' : 'Sửa') : 'Thêm'"
>
  <!-- Modal body  -->
  <app-user-form
    [labelItems]="
      selectedUser ? (isDelete ? formDeleteItem : formItem) : formCreateItem
    "
    [form]="userForm"
    [createStatus]="selectedUser ? false : true"
    (close)="resetForm()"
    (submitForm)="submitForm($event)"
  ></app-user-form>
</app-generic-modal>

<!-- Toast  -->
<app-toast [toastType]="toastType" [content]="toastContent"> </app-toast>
