<!-- Delete form infor -->
<form (ngSubmit)="onSubmit()" method="post">
  <div class="modal-body d-flex flex-column">
   
    <span *ngFor="let item of labelItems" class="input-container mb-4">
      <label class="input-label"
        >{{ item.heading | translate }}: {{ deletedItem[item.content] }}</label
      >
    </span>
  </div>
  <div class="modal-footer">
    <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">
      {{ "DELETE" | translate }}
    </button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      {{ "CANCEL" | translate }}
    </button>
  </div>
</form>
